@model Produto
<link rel="stylesheet" href="~/css/funcionario.css" />
<link rel="stylesheet" href="~/css/formulario.css" />

<div class="container-funci">
    <div class="container-title">
        <h1 class="title"><i class="fas fa-edit"></i> Editar Produto</h1>
    </div>
    <form class="flex-container" asp-action="Edit" asp-controller="Produto">
        <input type="hidden" asp-for="Id">
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-tag"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Nome" placeholder="Informe o nome do produto.">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Nome)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-6">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
            </div>
            <input type="text" class="form-control" asp-for="Preco" placeholder="Informe o preço do produto." onkeyup="mascaraMoeda(this, event)">
            <div class="error-message">
                <small>
                    @Html.ValidationMessageFor(x => x.Preco)
                </small>
            </div>
        </div>
        <div class="input-group form-group col-md-12">
            <div class="input-group-prepend2">
                <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
            </div>
            <textarea placeholder="Informe a descrição do produto." asp-for="Descricao" rows="4" class="form-control form-control2"></textarea>
            <div class="textarea">
                <small>
                    @Html.ValidationMessageFor(x => x.Descricao)
                </small>
            </div>
        </div>
        <div class="form-group container-botoes col-md-12">
            <a class="btn voltar-btn" asp-action="Index" asp-controller="Produto">Voltar</a>
            <input type="submit" value="Salvar" class="btn submit_btn">
        </div>
    </form>
</div>
<script src="~/js/mascaraMoney.js"></script>
