form {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-md-6 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 500px;
    flex-grow: 1;
}

.col-md-12 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    flex-basis: 1000px;
    flex-grow: 1;
}

.form-control {
    height: 40px;
}

.form-control2 {
    height: 120px;
}

.input-group-prepend2 span {
    height: 120px;
    background-color: #1f1f33;
    color: white;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error-message small {
    position: absolute;
    font-size: 9pt;
    top: 36.5px;
    right: 13px;
    color: orangered;
}

.textarea small {
    position: absolute;
    font-size: 9pt;
    top: 105.5px;
    right: 13px;
    color: orangered;
}

.error-message p {
    position: absolute;
    font-size: 12pt;
    right: 27px;
    top: 8px;
}

.position-text small {
    position: absolute;
    font-size: 9pt;
    top: 133px;
    right: 14px;
    color: rgb(255, 94, 0);
}
/*Caixa de entrada de usuário*/
.input-group-prepend span {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    border-end-start-radius: 5px;
    border-start-start-radius: 5px;
    margin-left: 0px;
    background-color: #1f1f33;
    color: rgb(255, 255, 255);
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}
/*botão Login*/
.container-botoes {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.submit_btn {
    margin-top: 10px;
    margin-right: 8px;
    padding: 7px 7px;
    min-width: 150px;
    background-color: #1f1f33;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

    .submit_btn:hover {
        color: #ffff;
        border: none;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        background-color: darkblue;
    }

.voltar-btn {
    margin-right: 10px;
    margin-top: 10px;
    padding: 7px 7px;
    min-width: 150px;
    background-color: #1f1f33;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

    .voltar-btn:hover {
        border: none;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        color: #ffff;
        background-color: darkred;
    }

.btn-plus {
    background-color: rgb(6, 206, 16);
    color: #ffffff;
    border: none;
    height: 40px;
    min-width: 40px;
    margin-left: 3px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

    .btn-plus:hover {
        color: white;
        background-color: darkgreen;
    }

.max-table{
    max-height: 200px;
    overflow-y: auto;
}
.table {
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(177, 176, 176, 0.5);
}

    .table thead {
        color: white;
        background: linear-gradient(to left, #f46b45, #eea849);
    }

    .table th {
        font-size: 10pt;
        text-align: center;
    }

    .table tr {
        padding: 20px;
        text-align: center;
    }

    .table .row-hover:hover {
        background-color: #f7f7f7f7;
    }

    .table td {
        margin: 0;
        padding: 10px 0;
        font-size: 10pt;
        text-align: center;
    }

td {
    overflow-wrap: break-word
}
/* Estilos do rodapé */
/* Estilos do rodapé */
tfoot {
    background-color: #e9e9e9; /* Cor de fundo diferente para o rodapé */
    font-weight: bold;
}

    tfoot td {
        padding: 12px;
        text-align: center;
        border: none; /* Remover todas as bordas das células */
    }