
.container-funci {
    margin: auto;
    margin-top: 40px;
    width: 97%;
}

.container-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.button {
    margin-top: 10px;
    padding: 7px 7px;
    min-width: 150px;
    background-color: #1f1f33;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

    .button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        background-color: rgb(40, 40, 40);
        text-decoration: none;
        color: white;
    }

.container-title {
    border-bottom: 1px solid black;
}

.title {
    font-size: 16px;
    font-weight: normal;
}

.edit {
    font-size: 10pt;
    color: blueviolet;
    margin: 5px;
    cursor: pointer;
}

    .edit:hover {
        color: darkviolet;
    }

.trash {
    font-size: 10pt;
    color: orangered;
    margin: 5px;
    cursor: pointer;
}

    .trash:hover {
        color: darkred;
    }
@media(max-width: 600px){
    .container-button{
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
}