.alert {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    top: 85px;
    right: 19px;
    height: 46px;
    min-width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 11pt;
}

.close-alert {
    font-size: 10pt;
    position: absolute;
    border-radius: 100%;
    top: -13px;
    right: -15px;
    width: 30px;
    height: 30px;
    color: white;
    transition: 0.5s;
}

.alert-success {
    color: white;
    font-size: 11pt;
    background-color: rgb(25, 229, 7);
    border: 1px solid rgb(25, 229, 7);
}

.sucesso {
    background-color: rgb(8, 151, 8);
    border: 1px solid rgb(8, 151, 8);
}

    .sucesso:hover {
        background-color: rgb(0, 81, 0);
        border: 1px solid rgb(0, 81, 0);
    }

.alert-danger {
    color: white;
    font-size: 11pt;
    background-color: rgb(255, 90, 90);
    border: 1px solid rgb(255, 90, 90);
}

.erro {
    color: white;
    background-color: rgb(216, 40, 40);
    border: 1px solid rgb(216, 40, 40);
}

    .erro:hover {
        color: white;
        background-color: rgb(178, 42, 11);
        border: 1px solid rgb(178, 42, 11);
    }

h2 {
    vertical-align: center;
    text-align: center;
}

.main-class {
    margin: 0;
    padding: 0;
    width: 100%;
}

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.top-nav {
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #00BAF0;
    background: linear-gradient(to left, #f46b45, #eea849);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 70px;
    padding: 1em;
}

.link-menu {
    color: #fff;
    font-size: 11pt;
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
    }

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

    .menu-button::before {
        content: '';
        margin-top: -8px;
    }

    .menu-button::after {
        content: '';
        margin-top: 8px;
    }

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

@media (max-width: 990px) {
    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        z-index: 1;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

        .menu > li:not(:last-child) {
            border-bottom: 1px solid #444;
        }
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(66, 28, 0), black);
    border-radius: 40px;
}

/* Botão "scroll to top" */
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

    .scroll-top-btn:hover {
        background-color: #555;
    }
