<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sugar Production Management</title>
    <link rel="icon" href="~/css/imagens/iconsSugar.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SugarProductionManagement.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" crossorigin="anonymous">
</head>
<body>
    <section class="top-nav">
        <div>
            Sugar Production Management &copy;
        </div>
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>
        <ul class="menu">
            <li>
                <a class="link-menu" asp-action="Index" asp-controller="Home">Home</a>
            </li>
            <li><a class="link-menu" asp-action="Index" asp-controller="Funcionario">Funcionários</a></li>
            <li><a class="link-menu" asp-action="Index" asp-controller="Fornecedor">Fornecedores</a></li>
        </ul>
    </section>
    <main class="main-class">
        @RenderBody()
    </main>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/Pre-Louding.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
